.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.coffee-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
  text-align: center;
  background-color: white;
}

.coffee-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
